{% extends "blog/base.html" %}
{% load staticfiles %}

			{% block content %} 			
	 			<b><big>ABOUT</big></b><br/>
	 			<br/>
	 			<br/>
	 			<div style="text-align: justify">
	 			FIFTH ARCH is a design collaborative started by Peter Suen that is interested in the 
	 			digital and analog seam. Despite this surface distinction, it is a seamless layer of information
	 			that underlies all things artificial/biological, manufactured/crafted or computed/intuited. 
	 			Different information, however, require distinct tools and processes. It is the intersection
	 			between these methods that drives our work and interest.	 			  
	 			</div>
	 			<br/><br/>
	 			
	 			<b>PETER SUEN</b><br/>
	 			<br/>
	 			<div style="text-align: justify">
	 			Peter Suen received a Masters of Architecture from U.C. Berkeley where he was an Eisner Prize and Henry Adams AIA Medal recipient. 
				In his research, Peter has been particularly interested in the role of the architect as a designer of information and how that can 
				have a direct impact on how we live. He has focused on different systems of intelligence, from analog computation to living mold, 
				and sought to understand how these systems can process information differently from human designers.
				</div>
				<br/>
				<div style="text-align: justify">
				Before architecture, Peter worked both as an intellectual property attorney and as a software developer. He received a JD from 
				Stanford Law School in 2002 and a Masters of Science in Computer Science from Carnegie Mellon University in 2004. 
				In architecture, he has previously worked as a desigher at Sagan Piechota Architecture and Jensen Architects.
				</div>
		    {% endblock content %}