{% extends "blog/base.html" %}
{% load staticfiles %}

			{% block content %} 			
	 			<b><big>NEWS</big></b><br/>
	 			<br/>
	 			<br/>
	 			
	 			<div>
	 			27.01.18 - <b>New Montgomery</b> featured in "Tiny Living" by Archilovers:<br/>
	 			<a target="_blank" href="http://www.archilovers.com/newsletter/239" class="link">http://http://www.archilovers.com/newsletter/239</a>  
	 			</div>
	 			<br/><br/>
	 			
	 			<div>
	 			26.01.18 - <b>New Montgomery</b> featured on Journal du Design:<br/>
	 			<a target="_blank" href="http://www.journal-du-design.fr/architecture/petit-appartement-par-charles-irby-et-peter-suen-69987/" class="link">http://www.journal-du-design.fr/architecture/petit-appartement-par-charles-irby-et-peter-suen-69987</a>  
	 			</div>
	 			<br/><br/>
	 			
	 			<div>
	 			16.01.18 - <b>New Montgomery</b> featured on design\milk:<br/>
	 			<a target="_blank" href="http://design-milk.com/small-san-francisco-condo-gets-multifunctional-loft/" class="link">http://design-milk.com/small-san-francisco-condo-gets-multifunctional-loft/</a><br/>
	 			<a target="_blank" href="https://www.instagram.com/p/BAtMKyeM85U/" class="link">https://www.instagram.com/p/BAtMKyeM85U/</a>  
	 			</div>
	 			<br/><br/>
	 			
		    {% endblock content %}