{% extends "blog/base.html" %}
{% load staticfiles %}

			{% block content %} 			
	 			<b><big>PUBLICATIONS</big></b><br/>
	 			<br/>
	 			<br/>
	 			<b>BOOKS & PEER REVIEWED PUBLICATIONS</b><br/>
	 			<br/>
	 			<div>
	 			Gutierrez, M. P., & Suen, P. (2013). New Advances in Elastic Additive Manufacturing. In Proceedings of the
				2013 International Conference on Adaptation and Movement in Architecture. Ryerson University, Toronto.
				</div>
				<br/>
				<div>
				Suen, P. (2013). Biological Simulation: An Analog Approach to Designing Adaptable Systems. In R. Armstrong
				& S. Ferracina (Eds.), Unconventional Computing: Design Methods for Adaptive Architecture. Toronto: Riverside
				Architectural Press.
				</div>
				<br/>
				<div>
				Aiello, C (Ed.) (2016), eVolo Skyscrapers 3: 150 New Projects Redefine Building High. Los Angeles: EVolo.
				</div>
				
				<br/><br/>
	 			<b>CONFERENCE PRESENTATIONS</b><br/>
	 			<br/>
	 			<div>
	 			"New Advances in Elastic Additive Manufacturing." International Conference on Adaptation and Movement in
				Architecture, 2013. Ryerson University, Toronto.
				</div>
				
				<br/><br/>
	 			<b>ACKNOWLEDGED CONTRIBUTIONS</b><br/>
	 			<br/>
	 			<div>
	 			Gutierrez, M. P. (2013). Programming Selective Elasticity. In H. Bartolo, P. J. D. S. Bartolo, N. M. F. Alves, &
				H. A. Almeida (Eds.), Green Design, Materials and Manufacturing Processes (pp. 525-530). CRC Press LLC.
				</div>
				<br/>
				<div>
	 			Peters, B., & Peters, T. (2013). Inside Smartgeometry: expanding the architectural possibilities of computational
				design. United Kingdom: John Wiley & Sons.
				</div>
				
		    {% endblock content %}